In [1]:
import os

In [2]:
if not os.path.exists("./dataset/train.csv"):
    os.symlink("./dataset/dummy/train.csv", "./dataset/train.csv")
    os.symlink("./dataset/dummy/test.csv", "./dataset/test.csv")

In [5]:
# Essential libraries
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
bast_path = "./dataset/"
train = pd.read_csv(bast_path + "train.csv")
test = pd.read_csv(bast_path + "test.csv")

In [7]:
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']

X = train[features]
y = train.SalePrice

In [9]:
test_X = test[features]

In [11]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=42, train_size=0.8, test_size=0.2)

In [12]:
X.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
0,8450,2003,856,854,2,3,8
1,9600,1976,1262,0,2,3,6
2,11250,2001,920,866,2,3,6
3,9550,1915,961,756,1,3,7
4,14260,2000,1145,1053,2,4,9

In [13]:
X.describe()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,1971.267808,1162.626712,346.992466,1.565068,2.866438,6.517808
std,9981.264932,30.202904,386.587738,436.528436,0.550916,0.815778,1.625393
min,1300.000000,1872.000000,334.000000,0.000000,0.000000,0.000000,2.000000
25%,7553.500000,1954.000000,882.000000,0.000000,1.000000,2.000000,5.000000
50%,9478.500000,1973.000000,1087.000000,0.000000,2.000000,3.000000,6.000000
75%,11601.500000,2000.000000,1391.250000,728.000000,2.000000,3.000000,7.000000
max,215245.000000,2010.000000,4692.000000,2065.000000,3.000000,8.000000,14.000000